.fundoPostagem {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 126px);
  height: 0px;
  padding: 2%;
  background-image: url("./fundoPatas2.png");
  background-repeat: repeat; /* Faz com que a imagem se repita */
  background-size: 900px 900px; /* Define o tamanho da imagem (largura x altura) */
  background-position: top left; /* A posição inicial da repetição é no canto superior esquerdo */
}

.painel {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
