.fundoPagina{
  background: linear-gradient(
    to right,
    #8B322C 0%,
    #8B322C 25%,
    #DD5746 25%,
    #DD5746 50%,
    #FFC470 50%,
    #FFC470 75%,
    #4793AF 75%,
    #4793AF 100%
  );
}

.fundoVermais {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 70px);
  padding: 3% 10% 5% 10%;
}

.painel {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  border-radius: 20px;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 40px;
  border: 3px solid black;
}

.bloco {
  display: flex;
  flex-direction: column;
  flex: 1 400px;
  row-gap: 50px;
}

.carrossel,
.slideImagemEntrada,
.slideImagemSaida{
  border-radius: 20px;
}

.carrossel {
  background-color: rgb(39, 39, 39);
  width: auto;
  padding-top: 50px;
}

.slideImagemEntrada,
.slideImagemSaida {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom: 50px;
  width: 60%;
  margin-inline: auto;
}

.slideImagemEntrada > img,
.slideImagemSaida > img {
  height: 400px;
  object-fit: scale-down;
}

.dadosDeIdentificacao,
.dadosDeSaude {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  row-gap: 20px;
  width: 100%;
}

.tituloDadosDeIdentificacao{
}

.alinharDadosDeIdentificacao{
  display: flex;
  width: 100%;
  align-items: center;
  padding-inline: 20px;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .fundoVermais {
    padding: 30px 10px;
  }
  .painel {
    padding: 20px;
  }
}
