.fundoConfig {
  display: flex;
  justify-content: center;
  min-width: 100%;
  width: 0px;
  padding: 0.5%;
  min-height: 100vh;
}

.fundoPainel {
  display: flex;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: #e3e3e38f;
  border-radius: 20px;
  padding: 2%;
  background-image: url("/fundoPatas2.png");
  background-repeat: repeat; /* Faz com que a imagem se repita */
  background-size: 900px 900px; /* Define o tamanho da imagem (largura x altura) */
  background-position: top left; /* A posição inicial da repetição é no canto superior esquerdo */
}

.painel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background-color: white;
  border-radius: 40px;
  padding: 40px;
}

.inicioPainel{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: auto;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  justify-content: flex-start;
  padding: 10px;
  margin-bottom: 50px;
}

.topoInicioPainel{
  display: flex;
  justify-content: space-between;
}

.alinharInfoUsuario{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: auto;
}

.iconeUsuario{
  width: 30%;
  min-width: 100px;
  object-fit: scale-down;
  max-width: 250px;
}

.nomeUsuario{
  font-size: 3rem;
  text-align: center;
}

.funcaoUsuario{
  text-align: center;
  color: black;
  font-size: 1.4rem;
}

.alinharDeslogue{
  display: flex;
  gap: 10px;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.alinharDeslogue:hover{
  cursor: pointer;
}

.textoDeslogue{
  font-size: 1.6rem;
  margin: 0;
}

.iconeSair{
  height: 28px;
  object-fit: scale-down;
}

.acordeaoPrincipal{
  width: 100%;
}

.tituloAcordeao{
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  color: black;
  margin-bottom: 0;
  font-weight: 330;
}

.corpoAcordeao{
  padding: 0;
}

@media (max-width: 1100px){
  .painel {
    border-radius: 20px;
    padding: 10px;
  }
  .inicioPainel{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #b3b3b3;
  }
  .nomeUsuario{
    font-size: 1.6rem;
  }
  .iconeUsuario{
    min-width: 100px;
    object-fit: scale-down;
  }
  .textoDeslogue{
    display: none;
  }
  .corpoAcordeao{
    padding: 10px;
  }
}