.desenvolvimento{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: rgba(0, 76, 255, 0.105);
  width: 100%;
  border-radius: 20px;
  padding: 5px;
}

.desenvolvimento p{
  color: rgba(0, 60, 255, 0.846);
  font-size: 1.2rem;
  font-weight: 700;
}