.card3 {
  display: flex;
  grid-row: 5 / 11;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
}

.card3 h1 {
  color: #A0C878;
  -webkit-text-stroke: 1.5px #085200;
  text-align: start;
  width: 100%;
  padding-left: 10px;
}

.containerArquivos {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px #085200;
  border: 2px solid #085200;
}
