.fundoCarrossel {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    #ffae00 0%,
    #ffae00 25%,
    #fbc02d 25%,
    #fbc02d 50%,
    #ffcf54 50%,
    #ffcf54 75%,
    #ffdb81 75%,
    #ffdb81 100%
  );
  padding: 8% 6%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: auto;
  width: 100%;
}

/*Componente carrossel, responsável pelo fundo branco*/
.carrossel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  border-radius: 10px;
}

/*Representam o slide de cadastro de animais e os slides que surgem quando se adiciona um animal*/
.slideFormulario,
.slideAnimaisCadastrados {
  display: flex;
  padding: 20px;
}

.slideFormulario {
  flex-direction: column;
  row-gap: 30px;
}

.slideAnimaisCadastrados {
  gap: 40px;
  flex-wrap: wrap;
}

.alinharDadosAnimal {
  display: flex;
  flex-grow: 1;
  width: 100%;
  gap: 40px;
  flex-wrap: wrap;
}

.containerImagensAnimal {
  max-width: 50%;
}

.containerImagensAnimal h2 {
  text-align: start;
  padding-left: 10px;
  font-size: 1.7rem;
}

.imagensAnimal {
  max-height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.containerDescricaoAnimal {
  display: flex;
  flex-direction: column;
  flex: 1 300px;
}

.alinharDescricao:first-of-type {
  flex: 1;
}

.alinharDescricao {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.alinharDescricao label {
  text-align: start;
  padding-left: 3px;
}

.descricoesAnimal {
  border: 1px solid #b3b3b3;
  flex-grow: 1;
  border-radius: 10px;
  padding: 10px;
  text-align: justify;
}

.alinharBotaoMudarDescricao {
  display: flex;
  justify-content: flex-start;
}

.alinharBotaoMudarDescricao button {
  padding: 5px 25px;
  border: none;
  background-color: #1a1a1a;
  color: white;
  border-radius: 4px;
}

.alinharBotaoInserirAnimal {
  height: 40px;
  width: 100%;
}

.alinharBotaoInserirAnimal button {
  height: 100%;
  border: none;
  padding: 5px 25px;
  background-color: #00aa09;
  border-radius: 4px;
  color: white;
}

.nomeAnimal {
  font-size: 1.8rem;
  text-align: start;
  margin-bottom: 10px;
}

@media (max-width: 862px) {
  .alinharDadosAnimal,
  .slideAnimaisCadastrados  {
    gap: 10px;
  }
  .containerImagensAnimal {
    max-width: none;
    flex-grow: 1;
  }

  .imagensAnimal {
    max-height: 270px;
  }
}
