

.mainPreLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.logoPreLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 2%;
    width: 100%;
    flex-wrap: wrap;
}

.textoLogoPreLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logoPreLogin div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoPreLogin div h1{
    font-size: 65px;
}

.logoPreLogin div p{
    font-size: 23px;
}

.imagemCarrossel{
    width: 600px;
    height: 500px;
}