.conteudoFuncoesAdm {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 0% 2% 0% 2%;
}

.botoesBlocosFuncao{
  display: none;
  flex-wrap: wrap;
  gap: 10px;
  padding-block: 5px;
}

.botaoRedirecional{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border: 1px solid black;
  padding-block: 2%;
  border-radius: 5px;
  background-color: rgb(39, 39, 39);
  color: white;
  top: 0;
  left: 0%;
}

.botaoRedirecional:hover{
  cursor: pointer;
}

.blocoFuncao {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #b3b3b3;
  padding: 20px;
  gap: 20px;
  min-height: 0;
}

.conteudoPrincipal {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 0;
}

.blocoFuncao:last-of-type{
  border-bottom: 0;
}

.funcao {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.tituloConfig {
  width: 35%;
  font-size: 1.5rem;
  flex-grow: 1;
}

.selectConfig,
.inputEmail {
  width: 20%;
  flex-grow: 1;
  height: 40px;
  min-width: 200px;
}

.inputEmail {
  border-radius: 5px;
  padding: 7px 0px 10px 10px;
  border: 1px solid #b3b3b3;
}

.divBotaoFuncao {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.botaoPadraoConfig {
  width: 200px;
  border: none;
  height: 36px;
  min-height: 36px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

.botaoExcluirUsuario {
  background-color: #e95757;
}

.botaoExcluirUsuario:hover {
  background-color: #e98585;
}

.botaoAlterarNvlAcesso {
  background-color: rgb(255, 217, 0);
}

.botaoAlterarNvlAcesso:hover {
  background-color: rgb(255, 236, 130);
}

.botaoConvidar {
  background-color: #007bff;
}

.botaoConvidar:hover {
  background-color: #71b6ff;
}


@media (max-width: 500px){
  .blocoFuncao{
    padding: 0px 0px 30px 0px ;
  }
  .botoesBlocosFuncao{
    display: flex;
  }
}

@media (max-width: 768px) {
  .divImagemDoador,
  .personalizacaoCarrossel,
  .informacoesDoDoador {
    min-width: 100%;
  }
  
  .tituloConfig {
    width: 100%;
    text-align: center;
  }
  
  .botaoPadraoConfig {
    width: 100%;
  }
}