.conteudoFuncoesAdm {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  flex-wrap: wrap;
  padding: 2%;
}

.blocoFuncao {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 20px;
  gap: 20px;
  padding-inline: 20px;
  height: auto;
}

.funcao {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.tituloConfig {
  width: 35%;
  font-size: 2rem;
  flex-grow: 1;
}

.selectConfig,
.inputEmail {
  width: 20%;
  flex-grow: 1;
  height: 40px;
}

.tituloConfig,
.selectConfig,
.inputEmail {
  min-width: 200px;
}

.inputEmail {
  border-radius: 5px;
  padding: 7px 0px 10px 10px;
  border: 1px solid #b3b3b3;
}

.divBotaoFuncao {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.botaoPadraoConfig {
  width: 200px;
  border: none;
  height: 36px;
  border-radius: 7px;
  color: white;
}

.botaoExcluirUsuario {
  background-color: #e95757;
}

.botaoExcluirUsuario:hover {
  background-color: #e98585;
}

.botaoAlterarNvlAcesso {
  background-color: rgb(255, 217, 0);
}

.botaoAlterarNvlAcesso:hover {
  background-color: rgb(255, 236, 130);
}

.botaoConvidar {
  background-color: #007bff;
}

.botaoConvidar:hover {
  background-color: #71b6ff;
}

.tituloDoador {
  width: 100%;
  text-align: center;
}

.alinharDadosDoador {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  height: auto;
  min-height: 300px;
  gap: 20px;
}

.divImagemDoador {
  background-color: aquamarine;
  /*remover depois*/
  min-height: 100px;
  min-width: 300px;
}

.divImagemDoador,
.informacoesDoDoador {
  display: flex;
  width: 50%;
  height: auto;
  flex-grow: 1;
}

.informacoesDoDoador {
  flex-direction: column;
  min-width: 200px;
  min-height: 300px;
  row-gap: 30px;
}

.dadoDoador{
  width: 100%;
  height: 100%;
}

.alinharLabelComObs{
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.labelDadoDoador{
  width: 100%;
}

.labelDadoDoador, .textoObservacao{
  font-weight: 300;
}

.textoObservacao{
  color: #e98585;
  font-weight: 300;
  padding-right: 5px;
}

.receptorDeDados{
  width: 100%;
  height: 36px;
  min-height: 36px;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
}

@media (max-width: 1100px) {
  .alinharDadosDoador {
    flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  .blocoFuncao {
    padding-inline: 0px;
  }
  .botaoPadraoConfig {
    width: 100%;
  }
  .tituloConfig {
    font-size: 1.6rem;
    text-align: center;
  }
  .tituloConfig,
  .selectConfig,
  .inputEmail {
    min-width: none;
    width: 100%;
  }

  .divImagemDoador {
    min-width: 200px;
  }

  .labelDadoDoador{
    font-size: .8rem;
  }

  .alinharLabelComObs{
    gap: 0px;
  }

  .textoObservacao{
    font-size: .7rem;
  }
}
