.fundoDaPagina {
  background: linear-gradient(
    to right,
    #002279 0%,
    #002279 25%,
    #0031af 25%,
    #0031af 50%,
    #003acc 50%,
    #003acc 75%,
    #006eff 75%,
    #006eff 100%
  );
}

.ajustePainelUsuario {
  display: flex;
  flex-direction: column;
  padding: 3% 10% 6% 10%;
}

.painelUsuario {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 7px 8px 1px #002fa8;
  border-radius: 10px;
  padding: 5% 15% 10% 20%;
  gap: 60px;
}

.tituloPainel {
  text-align: center;
}

.containerBlocos {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.bloco {
  display: flex;
  flex-direction: column;
  border: 1px solid #b3b3b3;
  border-radius: 7px;
  padding: 20px 0 0 20px;
}

.tituloBloco {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.alinharDadoEDescricaoDado {
  display: flex;
  align-items: center;
  padding-block: 12px;
  gap: 20px;
  row-gap: 0;
}

.alinharDadoEDescricaoDado:not(:last-child) {
  border-bottom: 1px solid #b3b3b3;
}

.excessaoIconeUsuario {
  flex-direction: row !important;
  align-items: center !important;
}

.descricaoDado {
  flex: 1;
  font-size: 0.7rem;
  font-weight: 700;
  color: #575a59d0;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 90px;
}

.espacamentoDado {
  display: flex;
  justify-content: flex-start;
  flex: 4;
}

.iconeUsuario,
.botaoComSwitch,
.selectDado,
.botaoDadoGoogle,
.botaoDado {
  margin: 0 20px 0 auto;
}

.iconeUsuario {
  object-fit: scale-down;
  height: 50px;
  border-radius: 50%;
}

.inputDado {
  height: 23px;
  font-size: 0.7rem;
  border: none;
  width: 100%;
  max-width: 240px;
  font-weight: 600;
  border-radius: 7px;
  transition: ease-in-out 0.2s padding;
}

.inputDado:focus {
  border: 1px solid #b3b3b3;
  padding-inline: 6px;
  outline: none;
}

.botaoDadoGoogle{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #b3b3b3;
  border-radius: 7px;
  padding: 3px 3px 3px 6px;
}

.iconeLog{
  width: 20px;
  height: 20px;
}

.seccaoContas{
  flex-direction: column;
  gap: 10px;
}

.botaoDado,
.botaoComSwitch {
  height: 23px;
  width: 80px;
}

.botaoDado {
  font-size: 0.7rem;
  padding-inline: 15px;
  border: none;
  color: white;
  border-radius: 4px;
}

.botaoDeslogar {
  background-color: #0055ff;
}

.botaoExcluir {
  background-color: #ff4757;
}

.botaoComSwitch {
  position: relative;

  border-radius: 2rem;
  border: 1px solid #b3b3b3;
  overflow: hidden;
  padding: 1px;
}

.botaoComSwitch.botaoAtivado {
  background-color: rgb(179, 255, 0);
  border: 1px solid rgb(115, 164, 0);
}

.switch {
  position: relative;
  left: 0px;
  width: 19px;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #b3b3b3;
  background-color: rgb(235, 235, 235);
  transition: ease-in-out transform 0.3s;
}

.botaoComSwitch.botaoAtivado .switch {
  transform: translateX(300%);
  border: 1px solid rgb(115, 164, 0);
  background-color: rgb(255, 255, 255);
}

.selectDado {
  width: 100%;
  max-width: 200px;
}

@media (max-width: 768px) {
  .ajustePainelUsuario {
    padding: 50px 5%;
  }
  .painelUsuario {
    box-shadow: 5px 6px 1px #002fa8;
    padding: 50px 20px;
  }
  .tituloPainel {
    font-size: 1.8rem;
  }
  .alinharDadoEDescricaoDado {
    flex-direction: column;
    align-items: flex-start;
  }
}
