.fundoPagina {
  background: linear-gradient(
    to right,
    #143d60 0%,
    #143d60 25%,
    #27667b 25%,
    #27667b 50%,
    #a0c878 50%,
    #a0c878 75%,
    #ddeb9d 75%,
    #ddeb9d 100%
  );
}

.fundoPainel {
  width: 100%;
  min-height: calc(100vh - 70px);
  height: auto;
  padding: 60px 250px;
}

.painel {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  min-height: calc(100vh - (70px + 60px + 60px));
  width: 100%;
  border-radius: 20px;
  padding: 5% 7%;
  border: 2px solid black;
}

.introducaoPagina{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.introducaoPagina p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  font-size: 1.1rem;
}

.introducaoPagina span {
  font-weight: 700;
  color: #343434;
}

.tabs{
  display: flex;
  border-bottom: none;
  padding: 10px 2px;
  gap: 10px;
}

.tabs li{
  width: calc(50% - 5px);
}

.conteudoTab{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #143c6054;
}

.botaoTabNaoSelecionado,
.botaoTabSelecionado{
  width: 100%;
}

.botaoTabNaoSelecionado {
  color: #555 !important;
  background-color: #ffffff !important;
  border: none !important;
  margin-right: 8px;
  border-radius: 8px !important;
  padding: 0.466rem 18px !important;
  transition: transform 0.3s ease;
}

.botaoTabNaoSelecionado:hover {
  color: #000 !important;
  transform: scale(1.03);
}

.botaoTabSelecionado {
  color: white !important;
  background-color: #0088ff !important;
  border: none !important;
  border-radius: 10px !important;
  font-weight: bold;
  margin-right: 8px;
  box-shadow: 2px 2px 0px rgba(0, 52, 77, 0.72);
  transition: background 0.3s ease;
  animation: aparecerSuave 0.5s ease-in-out;
}



@media (max-width: 768px) {
  .painel {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    width: 100%;
    border-radius: 20px;
    padding: 40px 30px;
    border: 2px solid black;
    row-gap: 50px;
  }

  .introducaoPagina h1,
  .filtrosPreSelecionados > h1,
  .selecaoAvulsa h1 {
    font-size: 1.6rem;
  }

  .introducaoPagina h1 {
    margin-bottom: 10px;

    text-align: center;
  }
  .introducaoPagina p {
    font-size: 0.8rem;
  }
  .filtrosPreSelecionados > h1 {
  }
  .containerFiltros {
    gap: 25px;
    max-height: 430px;
  }
  .selecaoAvulsa p {
    text-align: start;
    font-size: 1rem;
  }
}
