.fundoPostagem {
  width: 100%;
  min-height: calc(100vh - 70px);
  height: auto;
  padding: 2%;
  background-image: url("/imagensDeFundo/fundoPatas_BrancoTotal.png");
  background-repeat: repeat; /* Faz com que a imagem se repita */
  background-size: 900px 900px; /* Define o tamanho da imagem (largura x altura) */
  background-position: top left; /* A posição inicial da repetição é no canto superior esquerdo */
  background-color: #009dff;
}

.painel {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: 100%;
  border-radius: 20px;
  padding: 30px;
  border: 2px solid black;
}

.tituloPainel{
  text-align: center;
  margin-bottom: 30px;
}

.alinharFiltros{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.filtrosPreSelecionados,
.selecaoAvulsa{
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 400px;
  border: 1px solid #b3b3b3;
}

.filtrosPreSelecionados{
  border-right: 0.5px solid #b3b3b380;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.filtrosPreSelecionados > h1{
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #b3b3b3;
  padding-block: 10px;
  color: #505050;
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.containerFiltros{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  height: 100%;
  max-height: 582px;
  overflow-y: scroll;
  padding: 20px 20px 120px 20px;
}

.filtro{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.seletorDataContainer {
  margin-top: 10px;
}

.seletorDataInput {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}



.selecaoAvulsa{
  border-left: 0.5px solid #b3b3b380;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}