@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Honk&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Wet+Paint&family=Tiny5&display=swap');

.alinharPainel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-block: 0.5%;
}

.fundoPainel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  background-color: #e3e3e37e;
  border-radius: 20px;
  width: 99%;
  min-height: 65vh;
  height: auto;
  padding: 40px;
  gap: 50px;
  row-gap: 50px;
  border: 1px solid #dee2e6;
  background-image: url("./fundoPatas2.png");
  background-repeat: repeat; /* Faz com que a imagem se repita */
  background-size: 900px 900px; /* Define o tamanho da imagem (largura x altura) */
  background-position: top left; /* A posição inicial da repetição é no canto superior esquerdo */
}

.fundoPainel > *:last-child {
  margin-right: auto;
}

.utilitarios {
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px;
  flex-wrap: wrap;
}

.acordeao {
  border-radius: 7px;
  width: 100%;
}

.tituloAcordeao {
  font-size: 1.5rem;
  font-family: Arial;
}

.corpoAcordeao {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.containerFiltrosDeSelecao {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.filtroSelecao {
  width: auto;
  min-width: 200px;
}

.containerPesquisa {
  display: flex;
  border-radius: 5px;
  height: auto;
  max-width: 640px;
}

.barrinhaDePesquisa {
  width: 90%;
  min-width: 200px;
  padding-left: 7px;
  height: 36px;
  border: 1px solid #b3b3b3;
}

.formularioCadastro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.inserirImagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 300px;
}

.inputDeImagem {
  display: none;
}

.labelDeImagem {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.labelDeImagem:hover, .botaoInserir:hover {
  background-color: #0056b3;
}

.previaImagem {
  width: 300px;
  height: auto;
  max-height: 300px;
  min-height: 170px;
  object-fit: scale-down;
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 15px;
}

.nomeArquivo {
  font-size: 14px;
  color: #333;
  font-style: italic;
  text-align: center;
}

.itemInserir {
  width: 45%;
  border-inline: 1px solid #b3b3b3;
  padding-inline: 35px;
}

.itemInserir2,
.itemInserir {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding-bottom: 20px;
  row-gap: 20px;
  min-width: 500px;
}

.itemInserir2 {
  width: 34.2%;
}

.inserirImagem,
.itemInserir,
.itemInserir2 {
  flex-grow: 1;
}

.tituloItemInserir {
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid #b3b3b3;
  padding-inline: 5px;
}

.alinharDadosDeInsercao {
  display: flex;
  align-items: center;
  gap: 30px;
}

.labelDeIdentificacao {
  width: 190px;
}

.labelDadosSaude,
.labelDeIdentificacao {
  font-weight: 600;
  font-size: 1.2rem;
}

.labelDadosSaude {
  width: 180px;
}

.inputDadosIdentificacao {
  padding-left: 8px;
  border-radius: 4px;
  border: 1px solid #b3b3b3;
}

.inputDadosIdentificacao,
.selectInserirAnimal {
  width: 50%;
  height: 36px;
}

.alinharBotaoInserir{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.botaoInserir{
    width: 20%;
    height: 44px;
    border-radius: 6px;
    border: none;
    background-color: #007bff;
    transition: background-color 0.3s ease;
    color: white;
    min-width: 200px;
}

.cardAnimais {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 600px;
  width: 400px;
  flex: 1 400px;
  box-shadow: 5px 5px 1px rgba(7, 18, 32, 0.705);
  padding: 10px;
  max-width: 500px;
  border-top: 1px solid rgba(117, 117, 117, 0.233);
  border-left: 1px solid rgba(117, 117, 117, 0.233);
}

.divImagem {
  display: flex;
  min-width: 100%;
  width: 0px;
  height: 50%;
}

.imagemAnimais {
  object-fit: cover;
  width: 100%;
}

.infoAnimais {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  padding-left: 3px;
}

.dadosAnimais {
  color: black;
  font-size: 0.85rem;
  font-family: sans-serif;
  margin-bottom: 0px;
}

.botaoVerMais {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 300px;
  margin: auto auto 40px auto;
  border: none;
  background-color: rgb(7, 18, 32);
  color: white;
  border-radius: 10px;
  height: 50px;
  font-weight: 600;
  transition: 0.3s ease-in;
}

.botaoVerMais:hover {
  background-color: rgba(7, 18, 32, 0.89);
}

.mensagemNenhumAnimal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  color: #555;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1100px) {
  .containerFiltrosDeSelecao {
    flex-direction: column;
  }
  .filtroSelecao {
    width: 100%;
  }
  .fundoPainel {
    padding: 5%;
  }
  .cardAnimais {
    width: 200px;
    border-radius: 10px;
    height: auto;
  }
  .divImagem {
    display: flex;
    min-width: none;
    width: 0px;
    height: auto;
  }
  .imagemAnimais {
    object-fit: scale-down;
    width: 100%;
    height: auto;
  }
  .botaoVerMais {
    width: 67%;
    padding-block: 5px;
  }
  .containerPesquisa {
    max-width: none;
  }
  .corpoAcordeao2{
    padding: 10px;
  }
  .itemInserir2,
  .itemInserir {
    min-width: 100%;
    padding: 10px;
  }
  .alinharDadosDeInsercao {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
  .inputDadosIdentificacao,
  .selectInserirAnimal {
    width: 100%;
  }
  .previaImagem {
    width: 100%;
    padding: 0px;
  }
  .labelDeIdentificacao {
    width: 100%;
  }
}
