.mainPreLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #03051b;
    padding-bottom: 10vh; /*lembrar de apagar depois */
}

.logoPreLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    width: 100%;
    flex-wrap: wrap;
    background-size: cover;
    gap: 50px; 
    min-height: 515px;
    overflow: hidden;  
    z-index: 1;
}

.logoPreLogin::after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 125px;
    width: 100%;
    height: 600px;
    background-image: url(mainVisitantes/teste.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3; 
    z-index: -1; 
    border-bottom: 10px solid #03051b7e;
}

.textoLogoPreLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.imagemLogo{
    width: 50%;
    height: auto;
    min-width: 200px;
    max-width: 400px;
    z-index: 1;
}

.logoPreLogin div p{
    font-size: 1.5rem;
}

.logoPreLogin div h1, p{
    color: rgb(255, 255, 255);
}

.carrossel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 45px;
}

.blocoCarrossel{
    display: flex;
    position: relative;
    transform: translateX(-50%);
    width: 60%;
    left: 50%;
    max-width: 1800px;
    max-height: 900px;
    padding-block: 10%;
    gap: 15%;
}

.textoCarrossel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45rem;
    color: white;
    height: auto;
    text-align: justify;
}

.imagem{
    object-fit: scale-down;
    z-index: 100;
    filter: drop-shadow(0px 0px 90px #0c66cd)
            drop-shadow(0px 0px 25px #00ffea);
    width: 450px;
    height: 450px;
}

/* Estiliza o botão de navegação esquerda */
.control-arrow.control-prev {
    background-color: rgba(0, 0, 0, 0.5) !important; 
    position: relative;
    top: 50% !important;
    margin-left: 5px;
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    font-size: 24px; 
    transition: background-color 0.3s ease; 
}

/* Hover no botão de navegação esquerda */
.control-arrow.control-prev:hover {
    background-color: rgba(104, 104, 104, 0.8) !important;
}

/* Estiliza o botão de navegação direita */
.control-arrow.control-next {
    background-color: rgba(0, 0, 0, 0.5) !important;
    position: relative;
    top: 50% !important;
    margin-right: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

/* Hover no botão de navegação direita */
.control-arrow.control-next:hover {
    background-color: rgba(104, 104, 104, 0.8) !important;
}

.carousel .slide .legend{
    display: block;
}

.carousel .thumb {
    display: none !important;
}

.sobreNos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;
    min-height: 380px;
    padding-inline: 15%;
}

.sobreNos h1{
    font-size: 4rem;
    padding-bottom: 3%;
    text-align: center;
}

.sobreNos p{
    font-size: 1.5rem;
    text-align: justify;
    text-shadow: #000000 3px 2px;
}

@media (max-width: 1100px){
    .logoPreLogin{
        gap: 0px; 
        margin-bottom: 0px;
        min-height: 0px;
        height: 420px;
    }
    .textoLogoPreLogin{
        justify-content: flex-start;
        height: 270px;
        margin-bottom: 20px;
    }
    .textoLogoPreLogin .titulo{
        font-size: 2.5rem;
    }
    /* .carrossel{
        
    } */
    .blocoCarrossel{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        padding-block: 100px 30px;
    }
    .textoCarrossel{
        width: 80%;
    }
    .imagem{
        height: 30vh;
        margin-bottom: 30px;
    }
    .logoPreLogin::after {
        height: 430px;
    }
    .sobreNos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-block: 1.5rem;
        color: white;
        min-height: 600px;
        padding-inline: 10%;
    }
    .sobreNos h1{
        font-size: 3rem;
    }
    .sobreNos p{
        font-size: 1rem;
    }
}