.headerPreLogin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    position: fixed-top;
}

.linksDoHeader{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 25px 50px 10px 50px;
    justify-content: center;
    align-items: center;
}

.imagensLinksDoHeader{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.headerPreLogin .linksDoHeader h1{
    font-size: 25px;
}