.ajusteHeader {
  background-color: #0d0907;
}

.ajusteElementosDaPagina {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 6% 15%;
  min-height: calc(100vh - 70px);
  background: linear-gradient(
    to right,
    #ff771d 0%,
    #ff771d 25%,
    #ff8635 25%,
    #ff8635 50%,
    #ffa467 50%,
    #ffa467 75%,
    #ffbc8f 75%,
    #ffbc8f 100%
  );
}

.seccao {
  background-color: white;
  padding: 20px;
  border: 2px solid black;
}

.seccao h1 {
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.seccao p,
.seccao .strong {
  font-size: 1.15rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.strong {
  font-weight: 700;
}

.seccao p {
  margin-bottom: 0;
}

.link {
  color: currentColor;
}

@media (max-width: 768px) {
  .ajusteElementosDaPagina {
    padding: 50px 5%;
  }

  .seccao {
    padding: 10px;
  }

  .seccao h1 {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .seccao p,
  .seccao .strong {
    font-size: 0.8rem;
    text-align: justify;
  }
  .seccao p {
    margin-bottom: 10px;
  }
}
