.fundoDaPagina{
  background: linear-gradient(
    to right,
    #06202B 0%,
    #06202B 25%,
    #077A7D 25%,
    #077A7D 50%,
    #7AE2CF 50%,
    #7AE2CF 75%,
    #F5EEDD 75%,
    #F5EEDD 100%
  );
}

.ajusteElementosDaPagina {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 3% 10% 6% 10%;
  min-height: calc(100vh - 70px);
}

.seccao {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background-color: white;
  padding: 7% 8%;
  border: 2px solid black;
  box-shadow: 7px 8px 1px #173d49c2;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.seccao h1 {
  font-size: 2.3rem;
}

.seccao p,
.seccao .strong {
  font-size: 1.15rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}

.strong {
  font-weight: 700;
}

.seccao p {
  margin-bottom: 0;
}

.lista{
  margin-top: 5px;
  font-weight: 500;
}

.QRCode{
  width: 100%;
  max-width: 190px;
}

@media (max-width: 768px) {
  .ajusteElementosDaPagina {
    padding: 50px 5%;
  }
  .ajusteElementosDaPagina::after {
    right: -20px;
    top: 30px;
    transform: rotate(10deg);
  }

  .seccao {
    padding: 35px 8%;
    box-shadow: 4px 5px 1px #173d49c2;
  }

  .seccao h1 {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .seccao p,
  .seccao .strong {
    font-size: 0.8rem;
  }
  .seccao p {
    margin-bottom: 10px;
  }
}
