.itemCarrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px 55px 20px;
  height: 100%;
  width: 100%;
  min-height: 495px;
  box-sizing: border-box;
}

.containerImagem,
.fotoDoador {
  border-radius: 50%;
}

.containerImagem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 3px solid var(--cor-destaque);
  width: 200px;
  height: 200px;
}

.fotoDoador {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoDoador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.infoDoador h1,
.infoDoador p {
  width: auto;
  max-width: 800px;
}

.infoDoador h1 {
  font-size: 2rem;
}

.infoDoador p {
  text-align: justify;
}

.nomeDoador {
  color: var(--cor-fundo);
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.setaCarrossel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 3, 36, 0.7);
  color: white;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  font-size: 1.2rem;
  opacity: 1;
  transition: all 0.3s ease;
}

.setaCarrossel:hover {
  background-color: rgba(0, 3, 36, 0.9);
}

.setaCarrossel:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.setaEsquerda {
  left: 15px;
}

.setaDireita {
  right: 15px;
}

.fundoCarrosselVisitantes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-inline: 15px;
}

.fundoCarrosselVisitantes h2{
  text-align: center;
}

@media (max-width: 768px) {
  .itemCarrossel {
    margin-top: 0px;
    min-height: 0;
    background-color: #ffffff;
  }

  .infoDoador h1 {
    font-size: 1rem; /* ver depois */
  }

  .containerImagem {
    border: 4px solid var(--cor-crow);
  }
}

@media (max-width: 450px) {
  .containerImagem {
    width: 150px;
    height: 150px;
  }

  .itemCarrossel {
    padding-inline: 10px;
  }

  .itemCarrossel h1,
  .itemCarrossel p {
    width: 100%;
    margin-bottom: 0;
  }

  .itemCarrossel p {
    height: 100%;
    font-size: 0.8rem;
  }
}
