.fundoPagina {
  background-image: url(https://institutopetbrasil.com/storage/438/Banner_B2C_01_1900x1300_01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ajusteElementosDaPagina {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 3% 14% 6% 14%;
  min-height: calc(100vh - 70px);
}

.seccao {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background-color: white;
  padding: 7% 8%;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.seccao h1 {
  font-size: 2.3rem;
}

.seccao p,
.seccao .strong {
  font-size: 1.15rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}

.strong {
  font-weight: 700;
}

.seccao p {
  margin-bottom: 0;
}

.selectEstados {
  max-width: 250px;
  width: 100%;
  margin-top: 10px;
}

.link {
  color: currentColor;
}

@media (max-width: 768px) {
  .ajusteElementosDaPagina {
    padding: 50px 5%;
  }
  .ajusteElementosDaPagina::after {
    right: -20px;
    top: 30px;
    transform: rotate(10deg);
  }

  .seccao {
    padding: 35px 8%;
    box-shadow: 4px 5px 1px #2d0080c1;
  }

  .seccao h1 {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .seccao p,
  .seccao .strong {
    font-size: 0.8rem;
  }
  .seccao p {
    margin-bottom: 10px;
  }
}
