.fundoHeader{
    min-height: 90px;
    width: 100%;
}

.a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 300px;
    height: 300px;
}

.a:hover{
    cursor: pointer;
}

.a:hover .textoLink{
    opacity: 1;
    transition: 0.5s;
}

#header{
    display: flex;
    align-items: center;
    min-height: 126px;
    justify-content: space-between;
    width: 100%;
    z-index: 90000;
    background-color: #000911;
    border-bottom: 1px solid rgba(138, 138, 138, 0.712);
}

.containerLogo{
    padding-left: 25px;
}

#menu{
    display: flex;
    list-style: none;
    gap: 50px;
    height: auto;
    margin: 0;
    padding-right: 2rem;
}

#menu a{
    display: block;
    width: auto;
    height: auto;
    padding: .5rem;  
    border: 1px solid rgba(138, 138, 138, 0.712);
    border-radius: 10px;
}

#btnMobile{
    display: none;
}

.linkUsuario{
    border: 0 !important;
}

.iconeAvatar{
    width: 70px;
    height: 70px;
}

.logoHeader{
    width: 80px;
    height: 70px;
    object-fit: scale-down;
}

.alinharLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.iconeLink{
    width: 20px;
    height: 20px;
}

.textoLink{
    font-size: 20px;
    color: aliceblue;
    display: none;
    margin-top: 20px;
    transition: 0.5s;
}

#menu a:hover .textoLink{
    display: block;
    margin-top: 0px;
}

.scrolled {
    box-shadow: 10px 1px 20px rgba(58, 56, 56, 0.562);
    transition: .5s ease-in-out;
  }

@media (max-width: 1100px){
    #btnMobile{
        display: block;
    }
    .alinharLinks{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 126px;
        right: 0px;
        background-color: rgb(255, 255, 255);
        height: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        padding: 0;
    }
    #nav.active #menu{
        display: block;
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu .a {
        padding: 1rem 0;
        margin: 0;
        background-color: rgb(49, 49, 49);
        width: 100%;
        border-radius: 0;
    }
    .linkUsuario{
        border-radius: 0 !important;
    }
    .iconeAvatar{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid red;
    }
    #btnMobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        margin-right: 15px;
    }
    #hamburguer{
        display: block;
        border-top: 2px solid;
        color: white;
        width: 35px;
    }
    #hamburguer::after, #hamburguer:before{
        content: '';
        display: block;
        width: 35px;
        height: 2px;
        background-color: currentColor;
        margin-top: 10px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -12px;
    }
}